# conversion of (large) files and streams

The python SDK supports importing large sets of time series using files and streams in a CSV format.

The SDK converts the file to a local ETL Import file and uploads this file to waylay for an asynchronous import.

This notebook illustrates the various csv import formats that are supported by the SDK (without actually uploading the series)

<img src="ETL File Import.png">

#### Configuration and utilties for this demo

In [1]:
import tempfile

tempdir_context = tempfile.TemporaryDirectory()

def cleanup():
    tempdir_context.__exit__(None,None,None)
    
class Demo:
    """parameters for this demo"""
    
    # the profile name under which waylay credentials are stored
    waylay_client_profile='staging'
    
    # a prefix for all resources created by this demo
    resource_prefix = 'demo_etl_import'
    
    temp_dir = tempdir_context.__enter__()

In [2]:
import waylay
waylay.__version__

'v0.7.0'

In [3]:
waylay_client = waylay.WaylayClient.from_profile(Demo.waylay_client_profile)
etl_tool = waylay_client.timeseries.etl_tool

# set the default temporary directory for the tool, so that we can cleanup the demo with `cleanup()`
etl_tool.temp_dir = Demo.temp_dir

In [4]:
import pandas as pd
import csv
import io
import gzip

def preview_csv_text(csv_text: str, lines=10):
    with io.StringIO(csv_text) as csv_stream:
        display(pd.read_csv(csv_stream).head(lines))
                
def preview_import_file(path: str, lines=10):
    with gzip.open(path, 'rt') as csv_stream:
        display(pd.read_csv(csv_stream).head(lines))

### etl_tool.prepare_import(input, _args_)
Takes a data input and converts it to a local waylay _etl import_ file that can be
uploaded to the waylay system. 

The first argument to `etl_tool.prepare_import` denotes the input data, and can be a
  - (csv) file location (with .gz extension if gzipped)
  - csv text stream, 
  - iterable of string tuples (e.g. a `[('timestamp','value'), (t1,v1), (t2,v2)]`
  - pandas dataframe
In these example we use a csv text stream constructed from the `csv_text` string.

#### A Single Series csv file

In [5]:
csv_text=(
    "timestamp,temperature\n"
    "2021-03-01T00:00+00:00,-1\n"
    "2021-03-01T03:00+00:00,-2\n"
    "2021-03-01T06:00+00:00,3\n"
    "2021-03-01T09:00+00:00,10\n"
    "2021-03-01T12:00+00:00,15\n"
    "2021-03-01T15:00+00:00,21\n"
    "2021-03-01T18:00+00:00,14\n"
    "2021-03-01T21:00+00:00,8\n"
)
preview_csv_text(csv_text)

                timestamp  temperature
0  2021-03-01T00:00+00:00           -1
1  2021-03-01T03:00+00:00           -2
2  2021-03-01T06:00+00:00            3
3  2021-03-01T09:00+00:00           10
4  2021-03-01T12:00+00:00           15
5  2021-03-01T15:00+00:00           21
6  2021-03-01T18:00+00:00           14
7  2021-03-01T21:00+00:00            8

Invoking 
```
   etl_import = prepare_import(input_data, **args)
``` 
provides a `WaylayETLSeriesImport` object that holds references to the local ETL file, and can be passed on to further workflow steps, such as:

* `etl_tool.initiate_import(etl_import)` uploads the local ETL file to the waylay system and kicks off the ingestion process.
* `etl_tool.check_import(etl_import)` checks the current status of the ingestion process.
* `etl_tool.read_import_as_dataframe(etl_import)` creates a Pandas dataframe of the local ETL file, letting you validate its content.

Unless specified otherwise, the tool expects that:
* you specify a `resource` name for the data set as an argument
* the csv data has a `timestamp` column containing ISO8601 timestamps _with_ timezone information.
* each other column contains a series, with the column header as _metric_ name

In [6]:
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    resource=f'{Demo.resource_prefix}_01',
)

preview_import_file(etl_import.import_file.path)        

# read the etl file back in as a dataframe
etl_tool.read_import_as_dataframe(etl_import)

1.00csv_files [00:00, 1.04kcsv_files/s]
 12%|██▉                    | 1.00/8.00 [00:00<00:00, 2.61krows/s]

             resource       metric             timestamp  value
0  demo_etl_import_01  temperature  2021-03-01T00:00:00Z     -1
1  demo_etl_import_01  temperature  2021-03-01T03:00:00Z     -2
2  demo_etl_import_01  temperature  2021-03-01T06:00:00Z      3
3  demo_etl_import_01  temperature  2021-03-01T09:00:00Z     10
4  demo_etl_import_01  temperature  2021-03-01T12:00:00Z     15
5  demo_etl_import_01  temperature  2021-03-01T15:00:00Z     21
6  demo_etl_import_01  temperature  2021-03-01T18:00:00Z     14
7  demo_etl_import_01  temperature  2021-03-01T21:00:00Z      8

resource                  demo_etl_import_01
metric                           temperature
timestamp
2021-03-01 00:00:00+00:00               -1.0
2021-03-01 03:00:00+00:00               -2.0
2021-03-01 06:00:00+00:00                3.0
2021-03-01 09:00:00+00:00               10.0
2021-03-01 12:00:00+00:00               15.0
2021-03-01 15:00:00+00:00               21.0
2021-03-01 18:00:00+00:00               14.0
2021-03-01 21:00:00+00:00                8.0

#### multiple series in columns

In [7]:
csv_text=(
    "timestamp,temperature,humidity\n"
    "2021-03-01T00:00Z,-1,203\n"
    "2021-03-01T03:00Z,-2,201\n"
    "2021-03-01T06:00Z,3,221\n"
    "2021-03-01T09:00Z,10,223\n"
    "2021-03-01T12:00Z,15,243\n"
    "2021-03-01T15:00Z,21,183\n"
    "2021-03-01T18:00Z,14,203\n"
    "2021-03-01T21:00Z,8,200\n"
)
preview_csv_text(csv_text)
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    resource=f'{Demo.resource_prefix}_01',
)
preview_import_file(etl_import.import_file.path, 16)

           timestamp  temperature  humidity
0  2021-03-01T00:00Z           -1       203
1  2021-03-01T03:00Z           -2       201
2  2021-03-01T06:00Z            3       221
3  2021-03-01T09:00Z           10       223
4  2021-03-01T12:00Z           15       243
5  2021-03-01T15:00Z           21       183
6  2021-03-01T18:00Z           14       203
7  2021-03-01T21:00Z            8       200

1.00csv_files [00:00, 624csv_files/s]
 12%|██▉                    | 2.00/16.0 [00:00<00:00, 2.30krows/s]

              resource       metric             timestamp  value
0   demo_etl_import_01  temperature  2021-03-01T00:00:00Z     -1
1   demo_etl_import_01  temperature  2021-03-01T03:00:00Z     -2
2   demo_etl_import_01  temperature  2021-03-01T06:00:00Z      3
3   demo_etl_import_01  temperature  2021-03-01T09:00:00Z     10
4   demo_etl_import_01  temperature  2021-03-01T12:00:00Z     15
5   demo_etl_import_01  temperature  2021-03-01T15:00:00Z     21
6   demo_etl_import_01  temperature  2021-03-01T18:00:00Z     14
7   demo_etl_import_01  temperature  2021-03-01T21:00:00Z      8
8   demo_etl_import_01     humidity  2021-03-01T00:00:00Z    203
9   demo_etl_import_01     humidity  2021-03-01T03:00:00Z    201
10  demo_etl_import_01     humidity  2021-03-01T06:00:00Z    221
11  demo_etl_import_01     humidity  2021-03-01T09:00:00Z    223
12  demo_etl_import_01     humidity  2021-03-01T12:00:00Z    243
13  demo_etl_import_01     humidity  2021-03-01T15:00:00Z    183
14  demo_etl_import_01     humidity  2021-03-01T18:00:00Z    203
15  demo_etl_import_01     humidity  2021-03-01T21:00:00Z    200

### metric specified in column
The main other layout supported by `etl_tool` is a csv file with a single `value` column, and a `metric` column that indicates to which series each value belongs.
* a `value_column` must be specified
* a `metric_column` can be specified, defaults to the column name `metric`

In [8]:
csv_text=(
    "timestamp,metric,value\n"
    "2021-03-01T00:00Z,temperature,-1\n"
    "2021-03-01T00:00Z,humidity,203\n"
    "2021-03-01T03:00Z,temperature,-2\n"
    "2021-03-01T03:00Z,humidity,201\n"
    "2021-03-01T06:00Z,temperature,3\n"
    "2021-03-01T06:00Z,humidity,221\n"
    "2021-03-01T09:00Z,temperature,10\n"
    "2021-03-01T09:00Z,humidity,223\n"
    "2021-03-01T12:00Z,temperature,15\n"
    "2021-03-01T12:00Z,humidity,243\n"
    "2021-03-01T15:00Z,temperature,21\n"
    "2021-03-01T15:00Z,humidity,183\n"
    "2021-03-01T18:00Z,temperature,14\n"
    "2021-03-01T18:00Z,humidity,203\n"
    "2021-03-01T21:00Z,temperature,8\n"
    "2021-03-01T21:00Z,humidity,200\n"
)
preview_csv_text(csv_text)
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    resource=f'{Demo.resource_prefix}_01',
    value_column='value'
)
preview_import_file(etl_import.import_file.path, 100)

           timestamp       metric  value
0  2021-03-01T00:00Z  temperature     -1
1  2021-03-01T00:00Z     humidity    203
2  2021-03-01T03:00Z  temperature     -2
3  2021-03-01T03:00Z     humidity    201
4  2021-03-01T06:00Z  temperature      3
5  2021-03-01T06:00Z     humidity    221
6  2021-03-01T09:00Z  temperature     10
7  2021-03-01T09:00Z     humidity    223
8  2021-03-01T12:00Z  temperature     15
9  2021-03-01T12:00Z     humidity    243

1.00csv_files [00:00, 683csv_files/s]
 12%|██▉                    | 2.00/16.0 [00:00<00:00, 1.80krows/s]

              resource       metric             timestamp  value
0   demo_etl_import_01  temperature  2021-03-01T00:00:00Z     -1
1   demo_etl_import_01  temperature  2021-03-01T03:00:00Z     -2
2   demo_etl_import_01  temperature  2021-03-01T06:00:00Z      3
3   demo_etl_import_01  temperature  2021-03-01T09:00:00Z     10
4   demo_etl_import_01  temperature  2021-03-01T12:00:00Z     15
5   demo_etl_import_01  temperature  2021-03-01T15:00:00Z     21
6   demo_etl_import_01  temperature  2021-03-01T18:00:00Z     14
7   demo_etl_import_01  temperature  2021-03-01T21:00:00Z      8
8   demo_etl_import_01     humidity  2021-03-01T00:00:00Z    203
9   demo_etl_import_01     humidity  2021-03-01T03:00:00Z    201
10  demo_etl_import_01     humidity  2021-03-01T06:00:00Z    221
11  demo_etl_import_01     humidity  2021-03-01T09:00:00Z    223
12  demo_etl_import_01     humidity  2021-03-01T12:00:00Z    243
13  demo_etl_import_01     humidity  2021-03-01T15:00:00Z    183
14  demo_etl_import_01     humidity  2021-03-01T18:00:00Z    203
15  demo_etl_import_01     humidity  2021-03-01T21:00:00Z    200

### resource in column
Rather than a fixed value for the whole dataset, a _resource_ column can indicate the Waylay resource that 
each data entry belongs to. 

If `resource` is not specified, the tool expects a column named `resource`, or expects you to specify a `resource_column`.

In [9]:
csv_text=(
    "time,dataset,measure,observed\n"
    "2021-03-01T00:00Z,r1,temperature,-1\n"
    "2021-03-01T00:00Z,r1,humidity,203\n"
    "2021-03-01T03:00Z,r2,temperature,-2\n"
    "2021-03-01T03:00Z,r2,humidity,201\n"
    "2021-03-01T06:00Z,r1,temperature,3\n"
    "2021-03-01T06:00Z,r1,humidity,221\n"
    "2021-03-01T09:00Z,r2,temperature,10\n"
    "2021-03-01T09:00Z,r2,humidity,223\n"
    "2021-03-01T12:00Z,r1,temperature,15\n"
    "2021-03-01T12:00Z,r1,humidity,243\n"
    "2021-03-01T15:00Z,r2,temperature,21\n"
    "2021-03-01T15:00Z,r2,humidity,183\n"
    "2021-03-01T18:00Z,r1,temperature,14\n"
    "2021-03-01T18:00Z,r1,humidity,203\n"
    "2021-03-01T21:00Z,r2,temperature,8\n"
    "2021-03-01T21:00Z,r2,humidity,200\n"
)
preview_csv_text(csv_text)
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    timestamp_column='time',
    resource_column='dataset',
    metric_column='measure',
    value_column='observed'
)
preview_import_file(etl_import.import_file.path, 100)

                time dataset      measure  observed
0  2021-03-01T00:00Z      r1  temperature        -1
1  2021-03-01T00:00Z      r1     humidity       203
2  2021-03-01T03:00Z      r2  temperature        -2
3  2021-03-01T03:00Z      r2     humidity       201
4  2021-03-01T06:00Z      r1  temperature         3
5  2021-03-01T06:00Z      r1     humidity       221
6  2021-03-01T09:00Z      r2  temperature        10
7  2021-03-01T09:00Z      r2     humidity       223
8  2021-03-01T12:00Z      r1  temperature        15
9  2021-03-01T12:00Z      r1     humidity       243

1.00csv_files [00:00, 360csv_files/s]
 25%|█████▊                 | 4.00/16.0 [00:00<00:00, 3.13krows/s]

   resource       metric             timestamp  value
0        r1  temperature  2021-03-01T00:00:00Z     -1
1        r1  temperature  2021-03-01T06:00:00Z      3
2        r1  temperature  2021-03-01T12:00:00Z     15
3        r1  temperature  2021-03-01T18:00:00Z     14
4        r1     humidity  2021-03-01T00:00:00Z    203
5        r1     humidity  2021-03-01T06:00:00Z    221
6        r1     humidity  2021-03-01T12:00:00Z    243
7        r1     humidity  2021-03-01T18:00:00Z    203
8        r2  temperature  2021-03-01T03:00:00Z     -2
9        r2  temperature  2021-03-01T09:00:00Z     10
10       r2  temperature  2021-03-01T15:00:00Z     21
11       r2  temperature  2021-03-01T21:00:00Z      8
12       r2     humidity  2021-03-01T03:00:00Z    201
13       r2     humidity  2021-03-01T09:00:00Z    223
14       r2     humidity  2021-03-01T15:00:00Z    183
15       r2     humidity  2021-03-01T21:00:00Z    200

### ETL import/export csv files
As a special rule, any csv file with headers 
> `timestamp`,`resource`,`metric`,`value`

(in any order) will be recognised as to have series values in the `value` column.
They do not require parameter configuration.

This is the format of the ETL import/export csv files.

In [10]:
csv_text=(
    "timestamp,resource,metric,value\n"
    "2021-03-01T00:00Z,r1,temperature,-1\n"
    "2021-03-01T00:00Z,r1,humidity,203\n"
    "2021-03-01T03:00Z,r2,temperature,-2\n"
    "2021-03-01T03:00Z,r2,humidity,201\n"
    "2021-03-01T06:00Z,r1,temperature,3\n"
    "2021-03-01T06:00Z,r1,humidity,221\n"
    "2021-03-01T09:00Z,r2,temperature,10\n"
    "2021-03-01T09:00Z,r2,humidity,223\n"
    "2021-03-01T12:00Z,r1,temperature,15\n"
    "2021-03-01T12:00Z,r1,humidity,243\n"
    "2021-03-01T15:00Z,r2,temperature,21\n"
    "2021-03-01T15:00Z,r2,humidity,183\n"
    "2021-03-01T18:00Z,r1,temperature,14\n"
    "2021-03-01T18:00Z,r1,humidity,203\n"
    "2021-03-01T21:00Z,r2,temperature,8\n"
    "2021-03-01T21:00Z,r2,humidity,200\n"
)
preview_csv_text(csv_text)
etl_import = etl_tool.prepare_import(io.StringIO(csv_text))
preview_import_file(etl_import.import_file.path, 100)

           timestamp resource       metric  value
0  2021-03-01T00:00Z       r1  temperature     -1
1  2021-03-01T00:00Z       r1     humidity    203
2  2021-03-01T03:00Z       r2  temperature     -2
3  2021-03-01T03:00Z       r2     humidity    201
4  2021-03-01T06:00Z       r1  temperature      3
5  2021-03-01T06:00Z       r1     humidity    221
6  2021-03-01T09:00Z       r2  temperature     10
7  2021-03-01T09:00Z       r2     humidity    223
8  2021-03-01T12:00Z       r1  temperature     15
9  2021-03-01T12:00Z       r1     humidity    243

1.00csv_files [00:00, 361csv_files/s]
 25%|█████▊                 | 4.00/16.0 [00:00<00:00, 3.31krows/s]

   resource       metric             timestamp  value
0        r1  temperature  2021-03-01T00:00:00Z     -1
1        r1  temperature  2021-03-01T06:00:00Z      3
2        r1  temperature  2021-03-01T12:00:00Z     15
3        r1  temperature  2021-03-01T18:00:00Z     14
4        r1     humidity  2021-03-01T00:00:00Z    203
5        r1     humidity  2021-03-01T06:00:00Z    221
6        r1     humidity  2021-03-01T12:00:00Z    243
7        r1     humidity  2021-03-01T18:00:00Z    203
8        r2  temperature  2021-03-01T03:00:00Z     -2
9        r2  temperature  2021-03-01T09:00:00Z     10
10       r2  temperature  2021-03-01T15:00:00Z     21
11       r2  temperature  2021-03-01T21:00:00Z      8
12       r2     humidity  2021-03-01T03:00:00Z    201
13       r2     humidity  2021-03-01T09:00:00Z    223
14       r2     humidity  2021-03-01T15:00:00Z    183
15       r2     humidity  2021-03-01T21:00:00Z    200

### resource in column, multiple metric columns
When series are in columns, each observation can still be for another resource
by indicating a `resource_column`.

In [11]:
csv_text=(
    "resource,timestamp,temperature,humidity\n"
    "r1,2021-03-01T00:00Z,-1,203\n"
    "r2,2021-03-01T00:00Z,-2,201\n"
    "r1,2021-03-01T06:00Z,3,221\n"
    "r2,2021-03-01T06:00Z,10,223\n"
    "r1,2021-03-01T12:00Z,15,243\n"
    "r2,2021-03-01T12:00Z,21,183\n"
    "r1,2021-03-01T18:00Z,14,203\n"
    "r2,2021-03-01T18:00Z,8,200"
)
preview_csv_text(csv_text)
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    resource_column='resource',
)
preview_import_file(etl_import.import_file.path, 16)

  resource          timestamp  temperature  humidity
0       r1  2021-03-01T00:00Z           -1       203
1       r2  2021-03-01T00:00Z           -2       201
2       r1  2021-03-01T06:00Z            3       221
3       r2  2021-03-01T06:00Z           10       223
4       r1  2021-03-01T12:00Z           15       243
5       r2  2021-03-01T12:00Z           21       183
6       r1  2021-03-01T18:00Z           14       203
7       r2  2021-03-01T18:00Z            8       200

1.00csv_files [00:00, 514csv_files/s]
 25%|█████▊                 | 4.00/16.0 [00:00<00:00, 2.91krows/s]

   resource       metric             timestamp  value
0        r1  temperature  2021-03-01T00:00:00Z     -1
1        r1  temperature  2021-03-01T06:00:00Z      3
2        r1  temperature  2021-03-01T12:00:00Z     15
3        r1  temperature  2021-03-01T18:00:00Z     14
4        r1     humidity  2021-03-01T00:00:00Z    203
5        r1     humidity  2021-03-01T06:00:00Z    221
6        r1     humidity  2021-03-01T12:00:00Z    243
7        r1     humidity  2021-03-01T18:00:00Z    203
8        r2  temperature  2021-03-01T00:00:00Z     -2
9        r2  temperature  2021-03-01T06:00:00Z     10
10       r2  temperature  2021-03-01T12:00:00Z     21
11       r2  temperature  2021-03-01T18:00:00Z      8
12       r2     humidity  2021-03-01T00:00:00Z    201
13       r2     humidity  2021-03-01T06:00:00Z    223
14       r2     humidity  2021-03-01T12:00:00Z    183
15       r2     humidity  2021-03-01T18:00:00Z    200

### Filtering resources and metrics

The `resources` and `metrics` parameters allow you to filter the series that are imported.

In [12]:
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    resource_column='resource',
    resources=['r1'],
    metrics=['temperature']
)
preview_import_file(etl_import.import_file.path, 16)

1.00csv_files [00:00, 578csv_files/s]
 25%|█████▊                 | 1.00/4.00 [00:00<00:00, 1.48krows/s]

  resource       metric             timestamp  value
0       r1  temperature  2021-03-01T00:00:00Z     -1
1       r1  temperature  2021-03-01T06:00:00Z      3
2       r1  temperature  2021-03-01T12:00:00Z     15
3       r1  temperature  2021-03-01T18:00:00Z     14

### Mapping _resource_ and _metric_ identifiers
You can map the _resource_ and _metric_ keys used in the data set, to another _metric name_ or _resource id_ for its usage as a Waylay series.

This requires to specify `Resource` objects in the `resources` argument, and `Metric` objects in the `metrics` argument.

The `Metric` class allow you to specify other metadata, such as the `value_type` type hint.

In [13]:
from waylay.service.timeseries.parser import Metric, Resource
etl_import = etl_tool.prepare_import(
    io.StringIO(csv_text),
    resource_column='resource',
    resources=[
        # map `r1` in the input data to the `resource_1` resource id
        Resource('resource_1',key='r1'), 
        # map `r2` in the input data to the `resource_2` resource id
        Resource('resource_2',key='r2')
    ],
    metrics=[
        # map `temperature` in the input data to `temp` metric name
        Metric('temp',key='temperature',unit='°C',value_type='integer')
    ]
)
preview_import_file(etl_import.import_file.path, 16)

1.00csv_files [00:00, 488csv_files/s]
 25%|█████▊                 | 2.00/8.00 [00:00<00:00, 2.52krows/s]

     resource metric             timestamp  value
0  resource_1   temp  2021-03-01T00:00:00Z     -1
1  resource_1   temp  2021-03-01T06:00:00Z      3
2  resource_1   temp  2021-03-01T12:00:00Z     15
3  resource_1   temp  2021-03-01T18:00:00Z     14
4  resource_2   temp  2021-03-01T00:00:00Z     -2
5  resource_2   temp  2021-03-01T06:00:00Z     10
6  resource_2   temp  2021-03-01T12:00:00Z     21
7  resource_2   temp  2021-03-01T18:00:00Z      8

The `etl_tool.list_import_resources` will list all resources and associated metadata in a data set, enhanced with the resource and metric metadata that was specified.

The `to_dict()` format of these objects can be used to create or update Waylay Resources.

In [14]:
display(etl_tool.read_import_as_dataframe(etl_import))

for r in etl_tool.list_import_resources(etl_import):
    display(r.to_dict())

resource                  resource_1 resource_2
metric                          temp       temp
timestamp
2021-03-01 00:00:00+00:00         -1         -2
2021-03-01 06:00:00+00:00          3         10
2021-03-01 12:00:00+00:00         15         21
2021-03-01 18:00:00+00:00         14          8

{'id': 'resource_1',
 'key': 'r1',
 'name': 'resource_1',
 'metrics': [{'name': 'temp', 'valueType': 'integer', 'unit': '°C'}]}

{'id': 'resource_2',
 'key': 'r2',
 'name': 'resource_2',
 'metrics': [{'name': 'temp', 'valueType': 'integer', 'unit': '°C'}]}

The import tool is made to handle large files or streams. 

The following `HugeDataSet` is provider of test data that we use to illustrate this.

In [15]:
import sys
class HugeDataSet():
    """An _iterable_ dataset that provides data for a number of resources and metrics."""
    def __init__(self, size:int, resources=4, metrics=12, values=1000):
        self.size=size
        self.resources=resources
        self.metrics=metrics
        self.values=values

    def __iter__(self):
        resources=self.resources
        metrics=self.metrics
        values=self.values
        yield ['timestamp', 'resource', 'metric', 'value']
        for i in range(self.size):
            yield [ pd.Timestamp(i, unit='s'), f'res_{i%resources}', f'metric_{i%metrics}', i % values]

In [16]:
etl_import = etl_tool.prepare_import(
    HugeDataSet(200),
    value_column='value',
    resources=['res_3']
)
preview_import_file(etl_import.import_file.path, 16)

1.00csv_files [00:00, 287csv_files/s]
  6%|█▍                     | 3.00/50.0 [00:00<00:00, 2.29krows/s]

   resource    metric             timestamp  value
0     res_3  metric_3  1970-01-01T00:00:03Z      3
1     res_3  metric_3  1970-01-01T00:00:15Z     15
2     res_3  metric_3  1970-01-01T00:00:27Z     27
3     res_3  metric_3  1970-01-01T00:00:39Z     39
4     res_3  metric_3  1970-01-01T00:00:51Z     51
5     res_3  metric_3  1970-01-01T00:01:03Z     63
6     res_3  metric_3  1970-01-01T00:01:15Z     75
7     res_3  metric_3  1970-01-01T00:01:27Z     87
8     res_3  metric_3  1970-01-01T00:01:39Z     99
9     res_3  metric_3  1970-01-01T00:01:51Z    111
10    res_3  metric_3  1970-01-01T00:02:03Z    123
11    res_3  metric_3  1970-01-01T00:02:15Z    135
12    res_3  metric_3  1970-01-01T00:02:27Z    147
13    res_3  metric_3  1970-01-01T00:02:39Z    159
14    res_3  metric_3  1970-01-01T00:02:51Z    171
15    res_3  metric_3  1970-01-01T00:03:03Z    183

In [17]:
etl_import = etl_tool.prepare_import(
    HugeDataSet(int(10e5))
)
display(str(etl_import.import_file.path))
display(etl_import.import_file.path.stat().st_size)

1.00csv_files [00:04, 4.37s/csv_files]
  0%|               | 12.0/1000000.0Y [00:03<83:21:30, 3.33rows/s]

'/var/folders/07/zn347xhn33z8m79l8xtz1hn80000gp/T/tmpyuxc2q8f/import-20231016.113706-timeseries.csv.gz'

3692177

In [18]:
for r in etl_tool.list_import_resources(etl_import):
    display(r.to_dict())

{'id': 'res_0',
 'name': 'res_0',
 'metrics': [{'name': 'metric_0'}, {'name': 'metric_4'}, {'name': 'metric_8'}]}

{'id': 'res_1',
 'name': 'res_1',
 'metrics': [{'name': 'metric_1'}, {'name': 'metric_5'}, {'name': 'metric_9'}]}

{'id': 'res_2',
 'name': 'res_2',
 'metrics': [{'name': 'metric_2'},
  {'name': 'metric_6'},
  {'name': 'metric_10'}]}

{'id': 'res_3',
 'name': 'res_3',
 'metrics': [{'name': 'metric_3'},
  {'name': 'metric_7'},
  {'name': 'metric_11'}]}

In [19]:
etl_import = etl_tool.prepare_import(
    HugeDataSet(int(10e6), resources=100, metrics=2),
    resources=['res_0']
)
display(str(etl_import.import_file.path))
display(etl_import.import_file.path.stat().st_size)

1.00csv_files [00:15, 15.9s/csv_files]
  0%|                 | 1.00/100000.0Y [00:00<9:21:54, 2.97rows/s]

'/var/folders/07/zn347xhn33z8m79l8xtz1hn80000gp/T/tmpyuxc2q8f/import-20231016.113718-timeseries.csv.gz'

268097

#### Processing etl-export files

If activated, the waylay system puts daily exports of its timeseries database into the `etl-export` bucket of Waylay Storage.

These files can be imported, and e.g. copied to another system, or re-imported after cleanup or conversion.

In [24]:
export_name = 'staging.dev.waylay.io-20231016-timeseries.csv.gz'
local_export_file = f'{Demo.temp_dir}/{export_name}'
waylay_client.storage.object.stat('etl-export', export_name)
waylay_client.storage.content.get('etl-export',export_name, to_file=local_export_file)

100%|████████████████████████| 90.7M/90.7M [00:02<00:00, 32.2MB/s]

PosixPath('/var/folders/07/zn347xhn33z8m79l8xtz1hn80000gp/T/tmpyuxc2q8f/staging.dev.waylay.io-20231016-timeseries.csv.gz')

In [25]:
etl_import = etl_tool.prepare_import(
    local_export_file,
    metrics=['activeScore'],
    resources=['thomas@waylay.io@fitbitsimulator.00574']
)

1.00csv_files [00:14, 14.6s/csv_files]
  0%|                 | 1.00/99991.0Y [00:00<14:01:28, 1.98rows/s]

In [26]:
for r in etl_tool.list_import_resources(etl_import):
    display(r.to_dict())
    
etl_tool.read_import_as_dataframe(etl_import).head(10)

{'id': 'staging.dev.waylay.io-20231016-timeseries.csv',
 'name': 'staging.dev.waylay.io-20231016-timeseries.csv',
 'metrics': [{'name': 'activeScore'}]}

resource                         staging.dev.waylay.io-20231016-timeseries.csv
metric                                                             activeScore
timestamp
2023-10-15 08:07:30.419000+00:00                                           2.0
2023-10-15 08:11:54.849000+00:00                                           1.0
2023-10-15 08:12:18.488000+00:00                                           0.0
2023-10-15 08:12:56.489000+00:00                                           2.0
2023-10-15 08:19:24.848000+00:00                                           0.0
2023-10-15 08:23:50.778000+00:00                                           2.0
2023-10-15 08:26:22.929000+00:00                                           0.0
2023-10-15 08:29:25.559000+00:00                                          -1.0
2023-10-15 08:50:17.419000+00:00                                           0.0
2023-10-15 08:53:47.489000+00:00                                          -1.0

In [27]:
# removes the temporary directory
cleanup()